$light-gray:  #DDDDDD!default;
$gray:        #9F9F9F!default
$blue:        #3A7BD5!default;
$navy-blue:   #3A6073!default;
$green:       #27AE60!default;
$orange:      #EB9532!default;
$red:         #EE543A!default;
