.login {
  background-image: linear-gradient(-149deg, $blue 0%, $navy-blue 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .login__box {
    background: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.30);
    border-radius: 8px;
    padding: 60px;
    text-align: center;
    margin: 20px;
    min-width: 400px;
    @media screen and (max-width: 600px) {
      min-width: initial;
    }
  }
  .login__form {
    margin-top: 30px;
    width: 100%;
    .btn {
      display: block;
      width: 100%;
    }
  }
}
